<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  
  <listener>
    <listener-class>cn.tedu.listener.MyServletContextListener</listener-class>
  </listener>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.tedu.filter.EncodingFilter</filter-class>
    <init-param>
       <param-name>encode</param-name>
       <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>cn.tedu.filter.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>cn.tedu.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>PrivilegeFilter</filter-name>
  	<filter-class>cn.tedu.filter.PrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>PrivilegeFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>Regist</servlet-name>
    <servlet-class>cn.tedu.web.Regist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiImage</servlet-name>
    <servlet-class>cn.tedu.web.ValiImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.tedu.web.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidateAjax</servlet-name>
    <servlet-class>cn.tedu.web.ValidateAjax</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cn.tedu.web.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackProdAdd</servlet-name>
    <servlet-class>cn.tedu.web.back.BackProdAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackProdList</servlet-name>
    <servlet-class>cn.tedu.web.back.BackProdList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdImg</servlet-name>
    <servlet-class>cn.tedu.web.back.ProdImg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackAjaxUpdatePnum</servlet-name>
    <servlet-class>cn.tedu.web.back.BackAjaxUpdatePnum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackProdDelete</servlet-name>
    <servlet-class>cn.tedu.web.back.BackProdDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductPage</servlet-name>
    <servlet-class>cn.tedu.web.ProductPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FrontProdList</servlet-name>
    <servlet-class>cn.tedu.web.FrontProdList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdInfo</servlet-name>
    <servlet-class>cn.tedu.web.ProdInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProdToCart</servlet-name>
    <servlet-class>cn.tedu.web.AddProdToCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelProdInCart</servlet-name>
    <servlet-class>cn.tedu.web.DelProdInCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCart</servlet-name>
    <servlet-class>cn.tedu.web.UpdateCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderAdd</servlet-name>
    <servlet-class>cn.tedu.web.OrderAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderList</servlet-name>
    <servlet-class>cn.tedu.web.OrderList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelOrderMapByOrderId</servlet-name>
    <servlet-class>cn.tedu.web.DelOrderMapByOrderId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayAction</servlet-name>
    <servlet-class>cn.tedu.web.PayAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CallBack</servlet-name>
    <servlet-class>cn.tedu.web.CallBack</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaleList</servlet-name>
    <servlet-class>cn.tedu.web.back.SaleList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadSales</servlet-name>
    <servlet-class>cn.tedu.web.back.DownloadSales</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>Regist</servlet-name>
    <url-pattern>/servlet/Regist</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>ValiImage</servlet-name>
    <url-pattern>/servlet/ValiImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateAjax</servlet-name>
    <url-pattern>/servlet/ValidateAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlet/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackProdAdd</servlet-name>
    <url-pattern>/servlet/BackProdAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackProdList</servlet-name>
    <url-pattern>/servlet/BackProdList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdImg</servlet-name>
    <url-pattern>/servlet/ProdImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackAjaxUpdatePnum</servlet-name>
    <url-pattern>/servlet/BackAjaxUpdatePnum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackProdDelete</servlet-name>
    <url-pattern>/servlet/BackProdDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductPage</servlet-name>
    <url-pattern>/servlet/ProductPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrontProdList</servlet-name>
    <url-pattern>/servlet/FrontProdList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdInfo</servlet-name>
    <url-pattern>/servlet/ProdInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProdToCart</servlet-name>
    <url-pattern>/servlet/AddProdToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelProdInCart</servlet-name>
    <url-pattern>/servlet/DelProdInCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCart</servlet-name>
    <url-pattern>/servlet/UpdateCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderAdd</servlet-name>
    <url-pattern>/servlet/OrderAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderList</servlet-name>
    <url-pattern>/servlet/OrderList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrderMapByOrderId</servlet-name>
    <url-pattern>/servlet/DelOrderMapByOrderId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayAction</servlet-name>
    <url-pattern>/servlet/PayAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CallBack</servlet-name>
    <url-pattern>/servlet/CallBack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaleList</servlet-name>
    <url-pattern>/servlet/SaleList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadSales</servlet-name>
    <url-pattern>/servlet/DownloadSales</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
